.App {
  height: 100%;
}

.carrosel-container{
  display: flex;
  overflow-x: scroll;
  height: 100px;
  margin-top: 28px;
}

.carrosel-item{
  background-color: coral;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100px;
  color: aliceblue;
  border-radius: 12px;
  padding: 12spx;
}